@model IEnumerable<Betgo.Models.Event>

<ul>
@foreach (var events in Model)
{
    <li>
        <div class="eventName">@events.Name</div>
        <div class="competitor">@events.CompetitorA.Name</div>
        <div class="competitor">@events.CompetitorB.Name</div>
        <div class="date">@events.Date</div>
        <div class="time">@events.Time</div>
        <div class="type">@events.Type.Name</div>
        
        @Html.ActionLink("Place a bet","PlaceBet","Bets",Model)
        <hr />
        <hr />
    </li>
    }
</ul>