@model Betgo.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />

    <dl class="dl-horizontal">
        @*<h4>@ViewBag.Message</h4>*@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OddsA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OddsA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OddsB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OddsB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWinsReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWinsReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BWinsReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BWinsReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>


    </dl>
</div>
@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Delete event","Delete","Event",new {eventId = Model.CurrEvent.Id},null)
}

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.Partial("_BetPartial", @Model.betViewModel)
        <br/>
        <br/>
        if (Model.CurrEvent.PaidOut == false)
        {
            using (Html.BeginForm("AddWinner", "Event", new {eventId = Model.CurrEvent.Id}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {

                <div class="container">

                    <h2>The winner:</h2>

                    <ul>
                        @Html.RadioButtonFor(model => model.Winner, Model.Winner) @Model.CurrEvent.CompetitorA.Name
                        @Html.RadioButtonFor(model => model.Winner, !Model.Winner) @Model.CurrEvent.CompetitorB.Name

                    </ul>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Add winner"/>
                    </div>
                </div>
            }
        }
    }
    

    @Html.ActionLink("Back to List", "Index", "Home")
</p>
