@model Betgo.ViewModels.CompetitorDetailsViewModel

@{
    ViewBag.Title = @Model.Competitor.Name + "- Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Competitor.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Competitor.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competitor.Details)
        </dd>

    </dl>
</div>

<div>
    <h4>Past events</h4>
    <hr/>
    @Html.Partial("_EventsPartial",Model.Events)
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Details","Event",new {eventId = Model.EventId},null)
</p>
